body {
    background-image: url("./assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    background-color: #121314;
    color: #FFF;
}